/* TESTING */

div .test {
  background-color: yellow;
}

div .hours {
  background-color: blue;
}

div .contact {
  background-color: orange;
}


/*div table {
  display: table;
  max-width: 100%;
  width: 100%;
  background-color: purple;
}
*/

